<html>
  <h1>Nokwethemba's budget : 2000</h1>
<table>
    <tr>
        <th>Items</th>
        <th>cost</th> 
         </tr>

         <tr>
            <td>transport</td>
            <td>1400</td> 
            
          </tr>

          <tr>
              <td>Lunch</td>
              <td>200</td> 
              
            </tr>

            <tr>
                <td>savings</td>
                <td>200</td> 
                
              </tr>
              <tr>
                  <td>emegencies</td>
                  <td>200</td> 
                  
                </tr>
                <tr>
                    <td>total Cost </td>
                    <td>2000</td> 
                    
                  </tr>







  </table>
 </html>